@import "./variables";

html {
  font-size: 12px;

  @media (min-width: 960px) {
    font-size: 15px;
  }
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: $background;
  color: $text;
}

img {
  max-width: 100%;
}

*, *:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none !important;
  transition: .3s;
  box-shadow: 0 2px 0 transparent;

  &:hover {
    box-shadow: 0 2px 0 currentColor;
  }
}

input {
  outline: none;
}

.wrapper {
  min-height: 100%;
  padding-top: 60px;
}

.page-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  margin: 0;
}
