$input-background: #F5F6F7;
$input-border: #EBEEEE;
$input-border-hover: #84D0E1;
$input-border-active: #09A2C3;

$primary: #156EF4;
$error: #F43015;
$success: #0AD65C;
$text: #022831;
$background: #f5fdff;

$btn-primary: #05596B;
$btn-primary-hover: #09A2C3;
$btn-disabled: #E6EEF0;

$gray: #4E696F;
$light-gray: #CCD4D6;
