$text: #022831;
$background: #f5fdff;
$input-background: #F5F6F7;
$input-border: #EBEEEE;
$input-border-hover: #84D0E1;
$input-border-active: #09A2C3;
$primary: #156EF4;
$gray: #4E696F;
$error: #F43015;
$success: #0AD65C;
